<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet 1-38</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        img {
            float: left;
            margin-right: 1rem;
        }
        .personne {
            clear: left;
            padding: 1rem;
        }
        input[type="checkbox"], select {
            margin-right: 1rem;
        }
        .misEnForme {
            background: #e0ffff;
            font-family: georgia;
            font-size: 1.2rem;
            margin: 1rem;
        }
    </style>
</head>

<body>
    <div id="app">
        <fieldset>
            <legend>Filtre sur le nom</legend>
            <input type="text" v-model="text">
        </fieldset>
        <fieldset>
            <legend>Options</legend>
            Homme <input type="checkbox" v-model="homme">
            Femme <input type="checkbox" v-model="femme">
            Téléphone <input type="checkbox" v-model="tel" >
            Email <input type="checkbox" v-model="email" >
            Photo
            <select v-model="taille">
                <option value="1" >Petit</option>
                <option value="2" selected>Moyen</option>
                <option value="3">Grand</option>
            </select>
            Mise en forme <input type="checkbox" v-model="mef" >
        </fieldset>
        <div class="personne" v-for="p in filteredPeople" :class="{misEnForme: mef}">
                <img :src="p.picture.thumbnail" v-if="taille==1">
                <img :src="p.picture.medium" v-if="taille==2">
                <img :src="p.picture.large" v-if="taille==3">
                {{p.name.title}} {{p.name.first}} {{p.name.last}}<br>
                <div v-if="tel">{{p.phone}}</div>
                <div>{{p.location.country}}</div>
                <div v-if="email">{{p.email}}</div>
            </div>
        </div>
    </div>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    homme: true,
                    femme: true,
                    tel: false,
                    mef: false,
                    email:false,
                    taille: 2,
                    filtreNom: '',
                    text:"",
                    personnes: []
                }
            },
            computed: {
                filteredPeople() {
                    return this.personnes.filter(person => {
                        const matchesGender = (this.homme && person.name.title === 'Mr') || (this.femme && person.name.title === 'Mrs');
                        const matchesSearch = (this.text === '' || (`${person.name.title} ${person.name.first} ${person.name.last}`).toLowerCase().includes(this.text.toLowerCase()));
                        return matchesGender && matchesSearch;
                    });
                }
            },
            mounted() {
                fetch('personnes.json')
                    .then(response => response.json())
                    .then(data => {
                        this.personnes = data;
                    })
                    .catch(error => console.error('Error fetching data:', error));
            }
        });
        app.mount('#app');
    </script>
</body>

</html>
